* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* start common style  */
body {
    font-family: __Space_Grotesk_d6514e, __Space_Grotesk_Fallback_d6514e, __Hind_Siliguri_e3129f, __Hind_Siliguri_Fallback_e3129f;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.9;
}


.container {
    max-width: 1300px;
    margin: 0 auto;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

.intro-2 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.intro-box {
    width: 300px;
    background: rgba(247, 44, 72, 0.28);
    padding: 20px;
    border-radius: 20px;
}

.intro-box img {
    height: 30px;
    width: 30px;
    display: block;
    margin: 30px auto;

}

.intro-box > * {
    text-align: center;
    color: rgb(201, 198, 198);
    font-size: 20px;
}

/* end common style  */


/* header-section  */

.header-section {
    top: 0;
    left: 0;
    padding: 20px;
    background: white;
    position: fixed;
    z-index: 999;
    width: 100%;
    box-sizing: border-box;
}

.head-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navbar ul {
    gap: 40px;
}

.navbar ul li a {
    font-size: 18px;
}

.enroll-btn {
    background-image: linear-gradient(to right, #e606d3, #ff8a00);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 130px;
}

.enroll-btn:hover {
    transform: scale(1.08);
}

.enroll-btn a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* hero section  */

.hero-section {
    background-image: url("/home/home2/banner-bg.png"), linear-gradient(360deg, rgb(242, 224, 237) 0%, rgb(255, 255, 255) 134.61%);
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    padding: 50px 0px 20px;
    margin-top: 87px;

}

.img {
    position: absolute;
}
.img.left {
    left: 140px;
    top: 290px;
}


.img.right {
    right: 140px;
    top: 290px;
}
.gradient {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
}

.id {
    background: linear-gradient(90deg, rgb(232, 85, 222), rgb(84, 0, 238));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    vertical-align: top;
}

.hero-peragraph p {
    margin-top: 30px;
    text-align: center;
}

.enroll-now {
    background-image: linear-gradient(to right, #e606d3, #ff8a00);
    padding: 20px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 190px;
    border: none;
    display: block;
    margin: 30px auto 0px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.enroll-now:hover {
    transform: scale(1.08);
}

.main-img {
    text-align: center;
    margin-top: 30px;
}

.main-img img {
    border-radius: 25px;
}

/* this  */

.center {
    text-align: center;
}
.img-box {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    padding: 3px;
    display: inline-block;
}

.img-box::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;

    background: linear-gradient(60deg,
            #e606d3,
            #ff8a00,
            #c713c7,
            #e606d3);

    animation: spin 4s linear infinite;
}

.img-box img {
    position: relative;
    z-index: 2;
    display: block;
    border-radius: 9px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.background {
    padding: 72px 48px;
    background-image: url("imges/problemandsolution-bg.png");
    background-color: rgb(28, 7, 58);
    border-radius: 28px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;

}

/* intro-section  */

.intro {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px 0;
    color: rgb(201, 198, 198);
    font-weight: bold;
    font-size: 30px;
}

.intro img {
    height: 30px;
    width: 30px;
}


.color {
    background: rgba(7, 151, 106, 0.3);
    margin-top: 60px;
}


.inner-text {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.in-te {
    background: linear-gradient(to right, #f78504, #e904b4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}


/* factor-section  */
.factor-section {
    padding: 80px 0px 20px;
}
.factor h3 {
    font-size: 35px;
    color: black;
    text-align: center;
}

.x-factor {
    background-image: linear-gradient(to right, #e606d3, #ff8a00);
    padding: 10px;
    border-radius: 30px;
    color: white;
}



.factor-boxes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* height: 350px; */
}

.margin {
    margin: 50px 0;
}

.factor-box {
    transition: transform 0.3s, box-shadow 0.3s;
}

.factor-box:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

.factor-box.one {
    background: linear-gradient(rgba(239, 247, 255, 0.3) 0%, rgb(239, 247, 255) 100%);
    padding: 40px;
    border-radius: 44px;
}

.factor-box.one h4 {
    background: rgb(93, 135, 252);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 10px 0 30px;
}
.factor-box.two {
    background: linear-gradient(rgba(244, 241, 248, 0.3) 0%, rgb(244, 241, 248) 100%);
    padding: 40px;
    border-radius: 44px;
}

.factor-box.two h4 {
    background: rgb(166, 107, 254);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 10px 0 30px;
}

.factor-box.three {
    background: linear-gradient(rgba(255, 239, 248, 0.3) 0%, rgb(255, 239, 248) 100%);
    padding: 40px;
    border-radius: 44px;
}

.factor-box.three h4 {
    background: rgb(222, 85, 64);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 10px 0 30px;
}

.factor-box.four {
    background: linear-gradient(rgba(253, 248, 229, 0.3) 0%, rgb(253, 248, 229) 100%);
    padding: 40px;
    border-radius: 44px;
}

.factor-box.four h4 {
    background: rgb(234, 135, 44);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 10px 0 30px;
}

.factor-box.five {
    background: linear-gradient(rgba(243, 248, 241, 0.3) 0%, rgb(243, 248, 241) 100%);
    padding: 40px;
    border-radius: 44px;
}

.factor-box.five h4 {
    background: rgb(133, 154, 94);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 10px 0 30px;
}

.factor-box.six {
    background: linear-gradient(rgba(229, 253, 246, 0.3) 0%, rgb(229, 253, 246) 100%);
    padding: 40px;
    border-radius: 44px;
}

.factor-box.six h4 {
    background: rgb(43, 157, 124);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 10px 0 30px;
}

.factor-box h4 {
    color: rgb(223, 217, 217);
}

.factor-box h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(70, 68, 68);
}

.p-img {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: rgb(70, 68, 68);

}

.ppp-img img {
    margin-top: 60px;
    width: 90px;
}

.bg-dark-green {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 72px 48px;
    background-image: url("imges/problemandsolution-bg.png");
    background-color: rgba(26, 48, 54, 1);
    border-radius: 28px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 60px;
    position: relative;
}

.div-flex-1 h2 {
    font-size: 30px;
    color: white;
}

.btnbtn {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20px;
}
.btnbtn button {
    padding: 10px;
    background-color: rgb(72, 143, 148);
    color: white;
    font-size: 15px;
    border: 1px solid rgb(6, 229, 245);
    border-radius: 20px;
}

.gray {
    color: rgb(53, 202, 167);
}

.div-flex-2 {}

.img-1 {
    position: absolute;
    right: 450px;
    top: 120px;
    background-color: white;

}

.img-2 {
    position: absolute;
    background-color: white;
    top: 200px;
    right: 280px;

}

.img-3 {
    position: absolute;
    background-color: white;
    right: 580px;
    top: 260px;
}

.img-4 {
    position: absolute;
    background-color: white;
    top: 320px;
    right: 320px;
}

.img-5 {
    position: absolute;
    background-color: white;
    top: 360px;
    right: 600px;
}

.img-6 {
    position: absolute;
    background-color: white;
    top: 400px;
    right: 250px;
}

/* steps-section  */

.steps-section {
    padding: 70px;
}

.gap {
    margin-bottom: 120px;
}

.step-boxes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* position: relative; */
}

.step-box {
    background: linear-gradient(rgb(255, 255, 255) 10.75%, rgba(219, 163, 234, 0.5) 122.25%);
    max-width: 350px;
    width: 100%;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.step-box:hover {
    transform: scale(1.08);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.div-step {
    width: 100px;
    height: 100px;
    background-color: rgba(225, 183, 236, 0.5);
    border-radius: 50%;
    position: relative;
    margin-top: -50px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.div-step h2 {
    font-size: 40px;
    color: rgb(198, 3, 247);
}

.step-box h3 {
    margin-top: 20px;
    font-size: 25px;
    margin-left: 30px;
    color: rgb(59, 59, 59);
    font-weight: bold;
}

.step-box p {
    color: rgb(90, 87, 87);
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 15px;
    font-weight: 500;
}

.mmm-button {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    text-align: center;
}

.enr-btn {
    background-image: linear-gradient(to right, #e606d3, #ff8a00);
    padding: 15px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 190px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.enr-btn:hover {
    transform: scale(1.08);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.Counseling {
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 190px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: black;
    border: 1px solid blueviolet;
}

.Counseling:hover {
    transform: scale(1.08);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* learn-section  */
.learn-section {
    padding: 50px 0px 70px;
}
.learn-boses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;

}

.learn-box {
    border-radius: 20px;
    max-width: 320px;
    width: 100%;
    transition: all 0.3s ease;
    padding-bottom: 10px;
    /* padding: 20px; */
    position: relative;
}

.learn-box:hover {
    transform: scale(1.08);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.learn-box:nth-child(9) {
    grid-column: 2;
}

.learn-box:nth-child(10) {
    grid-column: 3;
}

.col-1 {
    background: rgb(248, 230, 225);
}
.col-2 {
    background: rgb(230, 244, 251);
}
.col-3 {
    background: rgb(253, 248, 214);
}
.col-4 {
    background: rgb(230, 250, 253);
}
.col-5 {
    background: rgb(228, 244, 225);
}
.col-6 {
    background: rgb(253, 248, 214);
}
.col-7 {
    background: rgb(230, 244, 251);
}
.col-8 {
    background: rgb(232, 248, 225);
}
.col-9 {
    background: rgb(240, 240, 240);
}
.col-10 {
    background: rgb(228, 228, 249);
}

.learn-box img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    background-size: cover;
    margin: 30px 0px 0px 30px;
}

.learn-box h2 {
    margin-left: 30px;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.learn-box p {
    margin-left: 30px;
    margin-right: 10px;
    color: black;
    font-size: 15px;
    font-weight: 500;
}

/* your-project  */
.your-project {
    padding: 50px 0 70px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 602px));
    justify-content: center;
    gap: 20px;
}

.project-box {
    width: 100%;
    background-color: rgb(236, 231, 231);
    border-radius: 20px;
    padding-bottom: 20px;
}

.project-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.project-box h2 {
    color: black;
    margin-left: 30px;
    margin-top: 10px;
}

.project-box p {
    color: rgb(141, 152, 170);
    margin: 20px 0px 20px 30px;
    font-size: 15px;
    margin-right: 20px;
}

.ul-li-btn-flex {
    display: flex;
    justify-content: space-between;
}

.ul-li {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 30px;
    align-items: center;
}

.ul-li div img {
    width: 32px;
    height: 32px;
    color: transparent;
    object-fit: contain;
    background-color: rgb(219, 217, 217);
    border-radius: 20%;
}

.btn-btn-btn button {
    padding: 15px 20px;
    margin-right: 20px;
    border-radius: 9px;
    margin-top: 14px;
    cursor: pointer;
}

.btn-btn-btn button:hover {
    background-color: black;
    color: white;
}

.btn333 button {
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.btn333 button:hover {
    color: black;
    background-color: white;
}

/* your- questions  */

.your-question {
    padding: 50px 0;
    position: relative;
}
.question-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 5px;
}

.question-1:not(:first-child) {
    margin-bottom: 5px;
}

.question-1:last-child {
    border-radius: 0 0 20px 20px;
}

.ques-col {
    background: rgb(255, 248, 255);
}

.bb-rd {
    border-radius: 20px 20px 0 0;
}

.one {
    background: rgb(254, 241, 255);
}

.div-01 {
    font-size: 40px;
    font-weight: bold;
}

.div-col {
    color: rgb(255, 167, 18);
}

.div-02 {
    font-size: 25px;
    font-weight: bold;
}

.icon button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.mmtt {
    background-color: black;
    color: white;
}


.bbg {
    background-color: rgb(240, 238, 238);
    border: none;
}
.ppm {
    background: rgb(254, 241, 255);
    text-align: center;
    width: 1100px;
    margin: 0 auto;
}



.ppm p {
    font-size: 15px;
    margin-left: 130px;
    margin-right: 70px;
    padding-top: 40px;
    text-align: left;
    padding-bottom: 40px;
}

.div-flex {
    display: flex;
    gap: 90px;
    align-items: center;
}

/* get-ready  */

.get-ready {
    padding: 30px;
}

.CTA-Section {
    background-image: url(imges/footer-banner-bg.png);
    background-color: rgb(16, 18, 3);
    border-radius: 30px;
    padding: 30px;
}

.ttt {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.CTA-Section p {
    font-size: 15px;
    color: rgb(201, 198, 198);
    font-weight: 500;
    width: 800px;
    margin: 40px auto;

}
.id-tt {
    background: linear-gradient(100.5deg, rgb(255, 167, 18) 64.89%, rgb(180, 28, 221) 76.92%, rgb(255, 88, 152) 90.16%) text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    vertical-align: top;
}


/* contact-us  */

.contact-us {
    background: rgba(180, 28, 221, 0.08);
    padding-top: 150px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 40px;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

.contact-method-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div-56 img {
    width: 300px;
    margin-bottom: 20px;
}

.div-57,
.div-57 {
    font-size: 19px;
    font-weight: 500;
}
.div-59 {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 500;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 20px;
    margin-top: 30px;
}

.div-call {
    font-size: 30px;
    font-weight: bold;
}

.contact-method-2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 17px;
}

.contact-method-3 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-method-4 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.div-74 img {
    margin-top: 10px;
    width: 150px;
}

.enrollment-card {
    position: fixed;
    bottom: 60px;
    left: 180px;
    background: linear-gradient(to right, #8e2de2, #f083da);
    color: rgb(255, 250, 250);
    padding: 30px 60px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 18px;
    font-weight: 500;
}

.info {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer {
    background: rgba(180, 28, 221, 0.08);
    text-align: right;
    padding-top: 10px;
    padding-bottom: 40px ;
    color: black;
}